In [28]:
#import dependencies
import pandas as pd

In [29]:
#file to connect to
brewery_file = "breweries.csv"

In [30]:
#creating a pandas data frame with the craft beers csv file

breweries_df = pd.read_csv(file, skiprows=[0])
breweries_df.head(100)

    Unnamed: 0                                name           city state
0            0                  NorthGate Brewing     Minneapolis    MN
1            1           Against the Grain Brewery     Louisville    KY
2            2            Jack's Abby Craft Lagers     Framingham    MA
3            3           Mike Hess Brewing Company      San Diego    CA
4            4             Fort Point Beer Company  San Francisco    CA
..         ...                                 ...            ...   ...
95          95                  Blackrocks Brewery      Marquette    MA
96          96      Catawba Valley Brewing Company      Morganton    NC
97          97              Tröegs Brewing Company        Hershey    PA
98          98                     Mission Brewery      San Diego    CA
99          99  Christian Moerlein Brewing Company     Cincinnati    OH

[100 rows x 4 columns]

In [31]:
breweries_df.info

<bound method DataFrame.info of      Unnamed: 0                           name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]>

In [32]:
#rename certain columns

breweries_df_tidy = breweries_df.rename(columns = {"Unnamed: 0": "Brewery ID", "name": "Brewery", "city": "City", "state": "State"}, inplace = False)
breweries_df_tidy

     Brewery ID                        Brewery           City State
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

In [33]:
#dataframe rename
brewery_df_final = breweries_df_tidy