In [15]:
import pandas as pd

In [16]:
#file to connect to
beers_file = "beers.csv"

In [17]:
#creating a pandas data frame with the craft beers csv file

craft_beers_df = pd.read_csv(beers_file, skiprows=[0])
craft_beers_df.head(100)

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0
...,...,...,...,...,...,...,...,...
95,95,0.062,43.0,837,Desolation IPA,American IPA,401,16.0
96,96,0.059,NaN,2592,Liberty Ale,American IPA,35,12.0
97,97,0.065,NaN,2578,IPA,American IPA,35,12.0
98,98,0.045,NaN,2577,Summer Wheat,American Pale Wheat Ale,35,12.0
99,99,0.049,NaN,2103,California Lager,American Amber / Red Lager,35,12.0

In [18]:
craft_beers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2410 non-null   int64
 1   abv         2348 non-null   float64
 2   ibu         1405 non-null   float64
 3   id          2410 non-null   int64
 4   name        2410 non-null   object
 5   style       2405 non-null   object
 6   brewery_id  2410 non-null   int64
 7   ounces      2410 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 150.8+ KB

In [19]:
#delete unnecessary columns
del craft_beers_df['ibu']

del craft_beers_df['Unnamed: 0']

del craft_beers_df['id']

In [25]:
#rename columns
cbeers_df_tidy = craft_beers_df.rename(columns = {'name': "Craft Beer", "abv": 'ABV', "style": "Style", "brewery_id": "Brewery ID", "ounces": "Ounces"}, inplace = False)
cbeers_df_tidy.head()

,ABV,Craft Beer,Style,Brewery ID,Ounces
0,0.050,Pub Beer,American Pale Lager,408,12.0
1,0.066,Devil's Cup,American Pale Ale (APA),177,12.0
2,0.071,Rise of the Phoenix,American IPA,177,12.0
3,0.090,Sinister,American Double / Imperial IPA,177,12.0
4,0.075,Sex and Candy,American IPA,177,12.0

In [26]:
#reorder the columns

columns_names = ["Brewery ID", "Craft Beer", "Style", "ABV", "Ounces"]

cbeers_df_tidy2 = cbeers_df_tidy.reindex(columns = columns_names)

cbeers_df_tidy2

,Brewery ID,Craft Beer,Style,ABV,Ounces
0,408,Pub Beer,American Pale Lager,0.050,12.0
1,177,Devil's Cup,American Pale Ale (APA),0.066,12.0
2,177,Rise of the Phoenix,American IPA,0.071,12.0
3,177,Sinister,American Double / Imperial IPA,0.090,12.0
4,177,Sex and Candy,American IPA,0.075,12.0
...,...,...,...,...,...
2405,424,Belgorado,Belgian IPA,0.067,12.0
2406,424,Rail Yard Ale,American Amber / Red Ale,0.052,12.0
2407,424,B3K Black Lager,Schwarzbier,0.055,12.0
2408,424,Silverback Pale Ale,American Pale Ale (APA),0.055,12.0
2409,424,Rail Yard Ale (2009),American Amber / Red Ale,0.052,12.0

In [27]:
#rename data frame
cbeers_df_final = cbeers_df_tidy2