In [17]:
import pandas as pd
import numpy as np

In [18]:
#file to connect to
beers_file = "beers.csv"

brewery_file = "breweries.csv"

In [19]:
#creating a pandas data frame with the craft beers csv file

craft_beers_df = pd.read_csv(beers_file, skiprows=[0])
craft_beers_df.head(100)

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0
...,...,...,...,...,...,...,...,...
95,95,0.062,43.0,837,Desolation IPA,American IPA,401,16.0
96,96,0.059,NaN,2592,Liberty Ale,American IPA,35,12.0
97,97,0.065,NaN,2578,IPA,American IPA,35,12.0
98,98,0.045,NaN,2577,Summer Wheat,American Pale Wheat Ale,35,12.0
99,99,0.049,NaN,2103,California Lager,American Amber / Red Lager,35,12.0

In [20]:
craft_beers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2410 non-null   int64
 1   abv         2348 non-null   float64
 2   ibu         1405 non-null   float64
 3   id          2410 non-null   int64
 4   name        2410 non-null   object
 5   style       2405 non-null   object
 6   brewery_id  2410 non-null   int64
 7   ounces      2410 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 150.8+ KB

#delete unnecessary columns
del craft_beers_df['ibu']

del craft_beers_df['Unnamed: 0']

del craft_beers_df['id']

In [21]:
#rename columns
cbeers_df_tidy = craft_beers_df.rename(columns = {'NaN': "Beer Number", 'name': "Craft Beer", "abv": 'ABV', "style": "Style", "brewery_id": "Brewery ID", "ounces": "Ounces"}, inplace = False)
cbeers_df_tidy.head()

,Unnamed: 0,ABV,ibu,id,Craft Beer,Style,Brewery ID,Ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [22]:
#reorder the columns

columns_names = ["Brewery ID", "Craft Beer", "Style", "ABV", "Ounces"]

cbeers_df_tidy2 = cbeers_df_tidy.reindex(columns = columns_names)

cbeers_df_tidy2

,Brewery ID,Craft Beer,Style,ABV,Ounces
0,408,Pub Beer,American Pale Lager,0.050,12.0
1,177,Devil's Cup,American Pale Ale (APA),0.066,12.0
2,177,Rise of the Phoenix,American IPA,0.071,12.0
3,177,Sinister,American Double / Imperial IPA,0.090,12.0
4,177,Sex and Candy,American IPA,0.075,12.0
...,...,...,...,...,...
2405,424,Belgorado,Belgian IPA,0.067,12.0
2406,424,Rail Yard Ale,American Amber / Red Ale,0.052,12.0
2407,424,B3K Black Lager,Schwarzbier,0.055,12.0
2408,424,Silverback Pale Ale,American Pale Ale (APA),0.055,12.0
2409,424,Rail Yard Ale (2009),American Amber / Red Ale,0.052,12.0

In [23]:
#rename data frame
cbeers_df_final = cbeers_df_tidy2

In [24]:
#brewery csv
#creating a pandas data frame with the craft beers csv file

breweries_df = pd.read_csv(brewery_file, skiprows=[0])
breweries_df.head(100)

    Unnamed: 0                                name           city state
0            0                  NorthGate Brewing     Minneapolis    MN
1            1           Against the Grain Brewery     Louisville    KY
2            2            Jack's Abby Craft Lagers     Framingham    MA
3            3           Mike Hess Brewing Company      San Diego    CA
4            4             Fort Point Beer Company  San Francisco    CA
..         ...                                 ...            ...   ...
95          95                  Blackrocks Brewery      Marquette    MA
96          96      Catawba Valley Brewing Company      Morganton    NC
97          97              TrÃ¶egs Brewing Company        Hershey    PA
98          98                     Mission Brewery      San Diego    CA
99          99  Christian Moerlein Brewing Company     Cincinnati    OH

[100 rows x 4 columns]

In [25]:
breweries_df.info

<bound method DataFrame.info of      Unnamed: 0                           name           city state
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]>

In [26]:
#rename certain columns

breweries_df_tidy = breweries_df.rename(columns = {"Unnamed: 0": "Brewery ID", "name": "Brewery", "city": "City", "state": "State"}, inplace = False)
breweries_df_tidy

     Brewery ID                        Brewery           City State
0             0             NorthGate Brewing     Minneapolis    MN
1             1      Against the Grain Brewery     Louisville    KY
2             2       Jack's Abby Craft Lagers     Framingham    MA
3             3      Mike Hess Brewing Company      San Diego    CA
4             4        Fort Point Beer Company  San Francisco    CA
..          ...                            ...            ...   ...
553         553            Covington Brewhouse      Covington    LA
554         554                Dave's Brewfarm         Wilson    WI
555         555          Ukiah Brewing Company          Ukiah    CA
556         556        Butternuts Beer and Ale  Garrattsville    NY
557         557  Sleeping Lady Brewing Company      Anchorage    AK

[558 rows x 4 columns]

In [27]:
#dataframe rename
brewery_df_final = breweries_df_tidy

In [28]:
#merging the dataframes together through the Brewery ID
combined_df = pd.merge(cbeers_df_final, brewery_df_final, on='Brewery ID', how='inner')
combined_df

,Brewery ID,Craft Beer,Style,ABV,Ounces,Brewery,City,State
0,408,Pub Beer,American Pale Lager,0.050,12.0,10 Barrel Brewing Company,Bend,OR
1,177,Devil's Cup,American Pale Ale (APA),0.066,12.0,18th Street Brewery,Gary,IN
2,177,Rise of the Phoenix,American IPA,0.071,12.0,18th Street Brewery,Gary,IN
3,177,Sinister,American Double / Imperial IPA,0.090,12.0,18th Street Brewery,Gary,IN
4,177,Sex and Candy,American IPA,0.075,12.0,18th Street Brewery,Gary,IN
...,...,...,...,...,...,...,...,...
2405,424,Belgorado,Belgian IPA,0.067,12.0,Wynkoop Brewing Company,Denver,CO
2406,424,Rail Yard Ale,American Amber / Red Ale,0.052,12.0,Wynkoop Brewing Company,Denver,CO
2407,424,B3K Black Lager,Schwarzbier,0.055,12.0,Wynkoop Brewing Company,Denver,CO
2408,424,Silverback Pale Ale,American Pale Ale (APA),0.055,12.0,Wynkoop Brewing Company,Denver,CO
2409,424,Rail Yard Ale (2009),American Amber / Red Ale,0.052,12.0,Wynkoop Brewing Company,Denver,CO

In [29]:
# reorder combined data frame

Combined_column_names = ["Brewery ID", "Brewery", "Craft Beer", "Style", "ABV", "Ounces", "State", "City"]

combined_df_tidy = combined_df.reindex(columns = Combined_column_names)

combined_df_tidy

,Brewery ID,Brewery,Craft Beer,Style,ABV,Ounces,State,City
0,408,10 Barrel Brewing Company,Pub Beer,American Pale Lager,0.050,12.0,OR,Bend
1,177,18th Street Brewery,Devil's Cup,American Pale Ale (APA),0.066,12.0,IN,Gary
2,177,18th Street Brewery,Rise of the Phoenix,American IPA,0.071,12.0,IN,Gary
3,177,18th Street Brewery,Sinister,American Double / Imperial IPA,0.090,12.0,IN,Gary
4,177,18th Street Brewery,Sex and Candy,American IPA,0.075,12.0,IN,Gary
...,...,...,...,...,...,...,...,...
2405,424,Wynkoop Brewing Company,Belgorado,Belgian IPA,0.067,12.0,CO,Denver
2406,424,Wynkoop Brewing Company,Rail Yard Ale,American Amber / Red Ale,0.052,12.0,CO,Denver
2407,424,Wynkoop Brewing Company,B3K Black Lager,Schwarzbier,0.055,12.0,CO,Denver
2408,424,Wynkoop Brewing Company,Silverback Pale Ale,American Pale Ale (APA),0.055,12.0,CO,Denver
2409,424,Wynkoop Brewing Company,Rail Yard Ale (2009),American Amber / Red Ale,0.052,12.0,CO,Denver

In [30]:
#reorder rows based on Brewery ID

combined_df_tidy_final = combined_df_tidy.sort_values("Brewery ID")
combined_df_tidy_final

,Brewery ID,Brewery,Craft Beer,Style,ABV,Ounces,State,City
1494,0,NorthGate Brewing,Maggie's Leap,Milk / Sweet Stout,0.049,16.0,MN,Minneapolis
1495,0,NorthGate Brewing,Wall's End,English Brown Ale,0.048,16.0,MN,Minneapolis
1496,0,NorthGate Brewing,Pumpion,Pumpkin Ale,0.060,16.0,MN,Minneapolis
1497,0,NorthGate Brewing,Stronghold,American Porter,0.060,16.0,MN,Minneapolis
1498,0,NorthGate Brewing,Parapet ESB,Extra Special / Strong Bitter (ESB),0.056,16.0,MN,Minneapolis
...,...,...,...,...,...,...,...,...
490,556,Butternuts Beer and Ale,Moo Thunder Stout,Milk / Sweet Stout,0.049,12.0,NY,Garrattsville
488,556,Butternuts Beer and Ale,Heinnieweisse Weissebier,Hefeweizen,0.049,12.0,NY,Garrattsville
489,556,Butternuts Beer and Ale,Snapperhead IPA,American IPA,0.068,12.0,NY,Garrattsville
491,556,Butternuts Beer and Ale,Porkslap Pale Ale,American Pale Ale (APA),0.043,12.0,NY,Garrattsville
1897,557,Sleeping Lady Brewing Company,Urban Wilderness Pale Ale,English Pale Ale,0.049,12.0,AK,Anchorage

In [31]:
combined_df_tidy_final.query(self, expr, inplace=False)

NameError: name 'self' is not defined